@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
	--bg-color: #15161a;
	--main: #1a1b1f;
	--secondary: #1a1b1f;
	--text-main: #f8f4f8;
	--text-secondary: hsla(0, 0%, 100%, 0.4);
	--highlight: rgb(36, 117, 49);
	--warning: rgb(138, 33, 33);
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--bg-color);
	color: var(--text-main);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10rem;
}

.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	min-width: 420px;
	border-bottom: 1px solid #26272d;
}
.list-header h1 {
	font-size: 32px;
}
.btn {
	color: var(--text-main);
	background: var(--secondary);
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 0.5rem 0.5rem;
}
#todo-list {
	margin: 0.5rem;
	line-height: 1.5em;
}

.todo {
	position: relative;
	background-color: var(--secondary);
	border: 1px solid transparent;
	border-radius: 5px;
	width: 400px;
	padding: 0.7rem 1rem;
	margin: 0.5rem;
}

.todo * {
	padding-bottom: 0.5rem;
}
.todo-heading {
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
	max-width: 350px;
}
.description {
	margin-bottom: 1.5rem;
	color: var(--text-secondary);
}

.created-timestamp,
.completed-timestamp {
	position: absolute;
	bottom: 0;
	color: var(--text-main);
	font-size: 10px;
}
.completed-timestamp {
	right: 1rem;
}
.actions {
	position: absolute;
	display: flex;
	gap: 3px;
	right: 0.2rem;
	top: 0.4rem;
}
.remove-todo,
.btn-icon,
.complete-todo {
	height: 13px;
	width: auto;
}

.btn:hover {
	transition: 0.25s ease-in-out;
	cursor: pointer;
}

#add-btn:hover {
	background-color: var(--highlight);
}
#remove-all:hover {
	background-color: var(--warning);
}
.remove-todo:hover {
	color: var(--warning);
}

.complete-todo:hover {
	color: var(--highlight);
}

.list-header-buttons {
	display: flex;
	gap: 1rem;
}

.done {
	background-color: var(--highlight);
}
